<div class="list-group">
	<%= link_to "Users", users_admin_index_path, :class => "list-group-item active" %>
	<%= link_to "Roles", roles_path, :class => "list-group-item" %>
	<%= link_to "Gadgets", roles_path, :class => "list-group-item" %>
</div>