<div>
	<ul class="list-group">
		<li>
			<%= link_to "Users", users_admin_index_path, :class => "list-group-item active" %>
		</li>
		<li>
			<%= link_to "Roles", roles_path, :class => "list-group-item" %>
		</li>
		<li>
			<%= link_to "Gadgets", roles_path, :class => "list-group-item" %>
		</li>
	</ul>
</div>